html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #eff2f7 !important;
    font-family: "Nunito Sans", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover, .ant-menu-item a:hover, .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-item-selected{
  color: #00BE00 !important;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #00BE00 !important;
}
.ant-menu-item{
  color: black
}
.ant-menu-item:hover{
  color: #00BE00;
}